chromadb
colorama
docling
dotenv
faiss-cpu==1.11.0.post1
fastapi
google-ai-generativelanguage==0.6.15
google-generativeai==0.8.5
#newspaper3k==0.2.8
numpy==2.2.6
openai==1.93.0
pandas==2.3.0
pdfminer
pydantic
pyttsx3
requests
sentence_transformers
SQLAlchemy==2.0.41
streamlit==1.47.1
uvicorn==0.35.0
yfinance==0.2.66