anthropic
chromadb
colorama
docling
dotenv
faiss-cpu==1.11.0.post1
fastapi
langchain_chroma
langchain_openai
newspaper
numpy
openai
pandas
pdfminer
pydantic
pyttsx3
requests
sentence_transformers
sklearn
sqlalchemy
streamlit
uvicorn
whisper
yfinance